/*!****************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/checker.scss ***!
  \****************************************************************************************************************/
.checker #textToCheck {
  min-height: 100px;
}
.checker .answer-container {
  width: 100%;
}
.checker .answer-container .load-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 4px;
}
.checker .answer-container .load-container .load-bar {
  flex-grow: 1;
  height: 4px;
  background-color: var(--detail-color);
  border-radius: 4px;
  padding: 0;
}
.checker .answer-container .load-container .load-bar .progress {
  background-color: var(--primary-color);
  height: 100%;
  border-radius: 4px;
  transition: width 0.2s ease-in-out;
}
.checker .answer-container .load-container .label {
  color: var(--primary-color);
}
.checker .answer-container .answer-row {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  gap: 4px;
  width: 100%;
  padding: 4px 8px;
}
.checker .answer-container .answer-row .label {
  font-weight: 700 !important;
}
.checker .answer-container .answer-row .value {
  font-weight: normal;
}
.checker .answer-container .references {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.checker .answer-container .references .reference-link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 4px;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 4px 8px;
  text-decoration: none !important;
  color: var(--primary-color);
}
.checker .answer-container .references .reference-link .label {
  flex-grow: 1;
}
