/*!**************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/guest.scss ***!
  \**************************************************************************************************************/
.link-holder {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
}
